<%- include('partials/header') -%>
<div class="container mt-5 w-50">
 <h2 class="mb-4">Update Employee Data</h2>
 <form action="/edit/<%= employee.id %>?_method=PUT" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <div class="form-group">
   <input type="text" value="<%= employee.name %>" name="name" class="form-control" placeholder="Employee Name">
  </div>
  <div class="form-group">
   <input type="text" value="<%= employee.designation %>" name="designation" class="form-control"
    placeholder="Employee Designation">
  </div>
  <div class="form-group">
   <input type="text" value="$<%= employee.salary %>" name="salary" class="form-control" placeholder="Employee Salary">
  </div>
  <button type="submit" class="btn btn-danger btn-block mt-3">Update Employee</button>
 </form>
</div>
<%- include('partials/footer') -%>